<div class="container">
  <div class="row">
     <div class="col-md-6">
         <div *ngIf="profile">
             <div>
                <img  src="https://avatars1.githubusercontent.com/u/71265008?v=4" width="320" height="320">
                  <div>
                         
                     <span><br>Student at Moringa school</span>
                     <span><br>Location : Kigali</span><br><br>
                     <!-- <span> Hireable status: Hired</span> -->
                  </div>
           
                
                  <div class="col-sm-6">
                     <div>
                       <p>
                        <!-- <span *ngIf="profile.location"><br>place : {{profile.location}}</span><br> -->
                        <span class="label label-default">{{profile.public_repos}} public_Repos</span>
                        <br><span class="label label-success">{{profile.followers}} followers</span>
                        <br><span class="label label-default">{{profile.following}} following</span><br> <br>

                           
                           <a href="{{profile.html_url}}" target="_blank" class="btn btn-success"> View Profile on GitHub</a>
                        </p>
                     </div>
                  </div>

             </div>  
          </div>
         </div>
               <div class="col-md-6">
                       <h3>Github Search</h3>
                       <p>Welcome to Github search! a page where you can visit any github account you want, to see the Repositories it has, and other information just right here, through our search page. </p>
                    
                       
               </div>
   </div>
          
</div>
